/*****************************************************/
/*            TETHYS BASE MODIFICATIONS              */
#app-content-wrapper #app-content {
    padding-bottom: 0;
}
#inner-app-content {
    padding: 0;
}
#app-actions {
    display: none;
}
/*****************************************************/

/*****************************************************/
/*                GENERAL NAV BAR                    */
#btn-app-help {
    margin-left: 20px;
}
.basemap-option {
    cursor: pointer;
    padding: 5px;
}
.basemap-option:hover {
    background-color: darkturquoise;
    color: white;
}
.selected-basemap-option {
    font-weight: bold;
}
.current-basemap-label {
    font-weight: normal;
    color: lightgray;
}
#beta-feedback-button {
    bottom: 30px;
}
#byu-logo-container {
    position: absolute;
    bottom: 0;
    left: 30px;
    margin: 0 0 5px 5px;
    overflow-y: visible;
    height: 60px;
    width: 150px;
}
#byu-logo-container img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
}
#byu-logo-container span {
    position: absolute;
    bottom: 0;
    left: 65px;
    width: 150px;
    margin-bottom: 10px;
}
/*****************************************************/

/*****************************************************/
/*                 CURRENT LAYERS                    */
#current-layers {
    width: 100%;
    height: 300px;
    background-color: lightgrey;
}
#current-layers ul {
    -webkit-padding-start: 0;
}
#current-layers li {
    background-color: white;
    list-style: none;
    padding: 5px;
    cursor: default;
}
#current-layers li:hover {
    background-color: #1abc9c;
}
.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}
.chkbx-layer {
    margin-right: 5px !important;
}
/*****************************************************/

/*****************************************************/
/*                   BASE MODAL                      */
.modal-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-header {
    height: 70px;
}
.modal-body {
    position: fixed;
    top: 70px;
    bottom: 65px;
    right: 0;
    left: 0;
    overflow-y: auto;
    border-bottom: 1px solid #e5e5e5;
}
.modal-footer {
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-body td, .modal-body th {
    padding: 10px;
}
.modal-info {
    margin-right: 38%;
}
.import-btn {
    cursor: pointer;
}
/*****************************************************/

/*****************************************************/
/*                  HS RES MODAL                     */
#modalLoadHSRes tbody tr:hover {
    background-color: #0099ff;
    color: white;
    cursor: pointer;
}
#modalLoadHSRes .modal-body {
    bottom: 110px;
    right: 1px;
    left: inherit;
}
#div-chkbx-res-auto-close {
    position: fixed;
    bottom: 65px;
    margin: 10px 0 5px 0;
    height: 30px;
}
#chkbx-res-auto-close {
    margin-left: 25px;
}

input[type="radio"] {
    cursor: pointer;
}
/*****************************************************/

/*****************************************************/
/*                  WELCOME MODAL                    */
#modalWelcome .modal-body {
    right: 1px;
}
.welcome-step {
    font-size: 18px;
}
.welcome-substep1 {
    font-size: 16px;
}
.welcome-substep2 {
    font-size: 14px;
}
/*****************************************************/

/*****************************************************/
/*               UPLOAD FILE MODAL                   */
#modalLoadFile .modal-content {
    position: static;
}
#modalLoadFile .modal-body {
    position: static;
}
#modalLoadFile .modal-footer {
    position: static;
}
#progress-bar {
    position: relative;
    top: -20px;
    width: 0;
    height: 20px;
    background-color: blue;
    z-index: 1;
    color: blue;
}
#empty-bar {
    background-color: grey;
    color: grey;
    height: 20px;
}
#progress-text {
    position: relative;
    top: -40px;
    height: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}
/*****************************************************/

/*****************************************************/
/*             ATTR TABLE FILE MODAL                 */

/*****************************************************/
#modalAttrTbl .modal-dialog {
    width: auto;
    margin: 15px;
}
/*****************************************************/
/*                 MAIN LOADING DIV                  */
#div-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/****************************************************/

.dataTables_scrollHead {
    overflow-x: auto;
}