/*****************************************************/
/*            TETHYS BASE MODIFICATIONS              */
#app-content-wrapper {
    overflow-y: hidden;
}
#app-content-wrapper #app-content {
    padding-bottom: 0;
}
#inner-app-content {
    padding: 0;
}
#app-actions {
    display: none;
}
/*****************************************************/

/*****************************************************/
/*                GENERAL NAV BAR                    */
#btn-app-help {
    margin-left: 100px;
}
#dropdown-export:hover {
    background-color: #949494;
}
.option-export {
    cursor: pointer;
    padding: 2px;
}
.option-export a {
    background-color: #dddddd !important;
    color: black !important;
}
.option-export a:hover {
    background-color: #949494 !important;
}
.basemap-option {
    cursor: pointer;
    padding: 5px;
}
.basemap-option:hover {
    background-color: darkturquoise;
    color: white;
}
.selected-basemap-option {
    font-weight: bold;
}
.current-basemap-label {
    font-weight: normal;
    color: #D3D3D3;
}
#beta-feedback-button {
    bottom: 30px;
}
#byu-logo-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    overflow-y: visible;
    height: 60px;
    width: 150px;
}
#byu-logo-container img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
}
#byu-logo-container span {
    position: absolute;
    bottom: 0;
    left: 55px;
    width: 150px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
}
/*****************************************************/

/*****************************************************/
/*                 CURRENT LAYERS                    */
#current-layers {
    width: 100%;
    height: 300px;
    background-color: #D3D3D3;
    overflow-y: auto;
}
#current-layers ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}
#current-layers li {
    position: relative;
    list-style: none;
    padding: 5px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}
.layer-name {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 218px;
    word-break: break-all;
}
.edit-layer-name {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 220px;
    line-height: normal;
}
.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}
.chkbx-layer {
    margin: 0 5px 0 0 !important;
}
.hmbrgr-div {
    width: 22px;
    height: 22px;
    border-radius: 2px;
}
.hmbrgr-div:hover {
    box-shadow: 0 1px 1px 1px #bbbbbb;
}
.hmbrgr-div img {
    width: 18px;
    margin: 2px;
}
.hmbrgr-open {
    background-color: #a1a1a1;
}
/*****************************************************/

/*****************************************************/
/*                   GENERAL MODAL                   */
.modal-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-header {
    min-height: 70px;
}
.modal-body {
    position: fixed;
    top: 70px;
    bottom: 65px;
    right: 1px;
    left: 0;
    overflow-y: auto;
}
.modal-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.footer-info {
    text-align: left;
    margin-left: 5px;
}
.modal-body td, .modal-body th {
    padding: 10px;
}
.modal-info {
    margin-right: 38%;
}
.import-btn {
    background-color: #1abc9c !important;
}
.import-btn:not(:disabled):hover {
    background-color: rgb(19, 140, 116) !important;
}
#load-from-pc:disabled {
    pointer-events: all;
    cursor: default;
}
#load-from-pc:disabled:hover::after {
    content: "The project must be saved before local files can be added";
    position: absolute;
    top: 0;
    white-space: normal;
    background-color: yellow;
    font-size: small;
    left: 125px;
    color: black;
}
/*****************************************************/

/*****************************************************/
/*                  HS RES MODAL                     */

#modalLoadRes .modal-dialog {
    width: auto;
    margin: 15px;
}
#modalLoadRes tbody tr:hover {
    background-color: #0099ff;
    color: white;
    cursor: pointer;
}
#modalLoadRes .modal-body {
    bottom: 110px;
    right: 1px;
    left: inherit;
}
#div-chkbx-res-auto-close {
    position: fixed;
    bottom: 65px;
    margin: 10px 0 5px 0;
    height: 30px;
}
#chkbx-res-auto-close {
    margin-left: 25px;
}

input[type="radio"] {
    cursor: pointer;
}
/*****************************************************/

/*****************************************************/
/*                  WELCOME MODAL                    */
#modalWelcome .modal-body {
    right: 1px;
}
.welcome-step {
    font-size: 18px;
}
.welcome-substep1 {
    font-size: 16px;
}
.welcome-substep2 {
    font-size: 14px;
}
/*****************************************************/

/*****************************************************/
/*               UPLOAD FILE MODAL                   */
#modalLoadFile .modal-content {
    position: static;
}
#modalLoadFile .modal-body {
    position: static;
}
#modalLoadFile .modal-footer {
    position: static;
}
#progress-bar {
    position: relative;
    top: -20px;
    width: 0;
    height: 20px;
    background-color: blue;
    z-index: 1;
    color: blue;
}
#empty-bar {
    background-color: grey;
    color: grey;
    height: 20px;
}
#progress-text {
    position: relative;
    top: -40px;
    height: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}
#msg-file {
    background-color: darkred;
    color: white;
    margin: 10px;
    text-align: center;
}
/*****************************************************/

/*****************************************************/
/*             ATTR TABLE MODAL                 */
#modalAttrTbl .modal-dialog {
    width: auto;
    margin: 15px;
}
/*****************************************************/

/*****************************************************/
/*                   SYMBOLOGY MODAL                 */
#modalSymbology .modal-dialog {
    max-width: 800px;
    width: auto;
}
#modalSymbology .modal-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#symbology-preview-container {
    margin-right: 50px;
}
#symbology-preview {
    text-align: center;
    font-weight: bold;
    margin: auto;
}
#label-preview {
    position: relative;
    top: -14px;
    right: -56px;
    font-size: 8px;
}
#symbology-modal-info {
    background-color: red;
    color: white;
}
/*****************************************************/

/*****************************************************/
/*                SAVE PROJECT MODAL                 */
#modalSaveProject .modal-content {
    position: static;
}
#modalSaveProject .modal-body {
    position: static;
}
#modalSaveProject .modal-footer {
    position: static;
}
#save-status {
    text-align: center;
}
/*****************************************************/

/*****************************************************/
/*                    LEGEND MODAL                   */
#modalLegend {
    right: initial;
    top: 100px;
}
#modalLegend .modal-dialog {
    position: fixed;
    top: 70px;
    bottom: -30px;
    right: initial;
    width: 300px;
}
#modalLegend .modal-content {
    border: none;
    border-radius: 0;
}
#img-legend {
    max-width: 100%;
}
/*****************************************************/

/*****************************************************/
/*                ADD TO PROJECT MODAL               */
.list-no-bullets {
    list-style: none;
}
/*****************************************************/

/*****************************************************/
/*                ADD WMS LAYER MODAL                */
#modalAddWMS .modal-content {
    position: static;
}
#modalAddWMS .modal-body {
    position: static;
}
#modalAddWMS .modal-footer {
    position: static;
}
#wms-url {
    width: 100%;
}
/*****************************************************/

/*****************************************************/
/*                    VIEW FILE MODAL                */
#modalViewFile .modal-dialog {
    width: auto;
    margin: 15px;
}
#modalViewFile .modal-body {
    bottom: 110px;
    right: 1px;
    left: inherit;
}
#iframe-container {
    height: 100%;
    width: 100%;
}
#iframe-js-viewer {
    width: 100%;
    height: 100%;
    padding: 15px;
}
#img-viewer {
    max-height: 100%;
    max-width: 100%;
    margin: 15px;
}
#close-modalViewFile {
    cursor: pointer;
    position: absolute;
    right: -2px;
    background-color: #4c4c4c;
    top: -2px;
    width: 25px;
    padding: 3px 3px 3px 8px;
    color: white;
    border-radius: 50%;
    z-index: 1000;
    font-weight: bold;
}
/*****************************************************/

/*****************************************************/
/*                 MAIN LOADING DIV                  */
#div-loading, #res-load-status, #export-canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#div-loading, #div-loading-mask {
    position: absolute;
    top: 20px;
    background-color: rgba(217, 217, 219, 0.6);
}
#res-load-status {
    z-index: 2000;
    pointer-events: none;
}
#status-text {
    font-size: 16pt;
    font-weight: bold;
}
#export-canvas {
    pointer-events: none;
    z-index: 2000;
}
/****************************************************/

.dataTables_scrollHead {
    overflow-x: auto;
}

/****************************************************/
/*                  GENERAL STYLING                 */
label {
    margin: 10px;
}
.error {
    background-color: red;
    color: white;
}
.success {
    background-color: green;
    color: white;
}
@media (max-width: 550px) {
    #byu-logo-container {
        display: none;
    }
}
.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.flex-container-col {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.flex1-0 {
    flex: 1 0;
}
#mouse-position {
    position: relative;
    top: -20px;
    background-color: white;
    display: inline-block;
}
/****************************************************/

/****************************************************/
/*                       MAP MODS                   */
.ol-zoomslider {
    padding: 0;
    left: 9px;
    box-shadow: 0 0 5px rgba(0,60,136,.7);
}
.ol-zoomslider button {
    border-radius: 5px;
}
a.ol-zoomslider-handle:hover {
    background-color: rgba(134, 186, 251, 0.7);
}
#close-map-popup {
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
}
/****************************************************/