/*****************************************************/
/*            TETHYS BASE MODIFICATIONS              */
#app-content-wrapper #app-content {
    padding-bottom: 0;
}
#inner-app-content {
    padding: 0;
}
#app-actions {
    display: none;
}
/*****************************************************/

/*****************************************************/
/*            GENERAL GIS TOOLS NAV BAR              */
#btn-app-help {
    margin-left: 20px;
}
.basemap-option {
    cursor: pointer;
    padding: 5px;
}
.basemap-option:hover {
    background-color: darkturquoise;
    color: white;
}
.selected-basemap-option {
    font-weight: bold;
}
.current-basemap-label {
    font-weight: normal;
    color: lightgray;
}
/*****************************************************/

/*****************************************************/
/*                 CURRENT LAYERS                    */
#current-layers {
    width: 100%;
    height: 300px;
    background-color: lightgrey;
}
#current-layers ul {
    -webkit-padding-start: 0;
}
#current-layers li {
    background-color: white;
    list-style: none;
    padding: 5px;
    cursor: default;
}
#current-layers li:hover {
    background-color: #1abc9c;
}
.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}
.chkbx-layer {
    margin-right: 5px !important;
}
/*****************************************************/

/*****************************************************/
/*                  GENERAL MODAL                    */
.modal-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-body td, .modal-body th {
    padding: 10px;
}
.modal-info {
    margin-right: 38%;
}
.import-btn {
    cursor: pointer;
}
/*****************************************************/

/*****************************************************/
/*             WELCOME / HS RES MODAL                */
#modalLoadHSRes .modal-content, #modalWelcome .modal-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#modalLoadHSRes .modal-header, #modalWelcome .modal-header {
    height: 70px;
}
#modalLoadHSRes .modal-footer, #modalWelcome .modal-footer {
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
/*****************************************************/

/*****************************************************/
/*             WELCOME / HS RES MODAL                */
#modalLoadHSRes tr:hover {
    background-color: #0099ff;
    color: white;
    cursor: pointer;
}
#modalLoadHSRes .modal-body {
    position: fixed;
    top: 70px;
    bottom: 110px;
    right: 1px;
    overflow-y: auto;
    border-bottom: 1px solid #e5e5e5;
}
#div-chkbx-res-auto-close {
    position: fixed;
    bottom: 65px;
    margin: 10px 0 5px 0;
    height: 30px;
}
#chkbx-res-auto-close {
    margin-left: 25px;
}

input[type="radio"] {
    cursor: pointer;
}
/*****************************************************/

/*****************************************************/
/*                  WELCOME MODAL                    */
#modalWelcome .modal-body {
    position: fixed;
    top: 70px;
    bottom: 65px;
    right: 1px;
    overflow-y: auto;
    border-bottom: 1px solid #e5e5e5;
}
.welcome-step {
    font-size: 18px;
}
.welcome-substep1 {
    font-size: 16px;
}
.welcome-substep2 {
    font-size: 14px;
}
#byu-logo-container {
    overflow-y: auto;
}
#byu-logo-container img {
    float: left;
    height: 50px;
    width: 50px;
}
#byu-logo-container span {
    position: relative;
    top: 25px;
    margin-left: 10px;
}
/*****************************************************/

/*****************************************************/
/*               UPLOAD FILE MODAL                   */
#progress-bar {
    position: relative;
    top: -20px;
    width: 0;
    height: 20px;
    background-color: blue;
    z-index: 1;
    color: blue;
}
#empty-bar {
    background-color: grey;
    color: grey;
    height: 20px;
}
#progress-text {
    position: relative;
    top: -40px;
    height: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}
/*****************************************************/

/*****************************************************/
/*                 MAIN LOADING DIV                  */
#div-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/****************************************************/