{% extends "hydroshare_gis/base.html" %}

{% load staticfiles %}

{% block app_content %}
    <div id="map"></div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'hydroshare_gis/vendor/openlayers/v3.13.0/ol.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.12/proj4.js"></script>
    <script src="{% static 'hydroshare_gis/vendor/reproject/reproject.js' %}"></script>
    <script src="{% static 'hydroshare_gis/vendor/contextMenu/contextMenu.min.js' %}"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    {{ block.super }}

    <!-- Load File Modal -->
    <div id="modalLoadFile" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Load File</h4>
                </div>
                <div class="modal-body">
                    <input id="input-files" type="file" multiple accept=".shp, .dbf, .shx, .prj, .tif, .zip">
                    <br>
                    <div id="empty-bar" class="hidden"></div>
                    <div id="progress-bar" class="hidden"></div>
                    <div id="progress-text" class="hidden">0%</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default btn-upload" id="btn-upload-file">Upload</button>
                </div>
            </div>
            <!--End modal content-->
        </div>
    </div>
    <!--End modal-->

    <!-- Load HS Resource Modal -->
    <div id="modalLoadHSRes" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Load HydroShare Resource</h4>
                </div>
                <div class="modal-body">
                    <img src="/static/hydroshare_gis/images/loading-animation.gif">
                    <br>
                    <p><b>Loading resource list...</b></p>
                    <p>Note: Loading will continue if dialog is closed.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default btn-upload hidden" id="btn-upload-res">Upload</button>
                </div>
            </div>
            <!--End modal content-->
        </div>
    </div>
    <!--End modal-->

{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'hydroshare_gis/vendor/openlayers/v3.13.0/ol.css' %}" rel="stylesheet"/>
    <link href="{% static 'hydroshare_gis/vendor/contextMenu/contextMenu.css' %}" rel="stylesheet"/>
    <link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
{% endblock %}