{% extends "hydroshare_gis/base.html" %}

{% load staticfiles %}

{% block app_content %}
    <div id="map"></div>
{% endblock %}

{% block app_content_wrapper_override %}

    {{ block.super }}

    <!-- Load File Modal -->
    <div id="modalLoadFile" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Load File</h4>
                </div>
                <div class="modal-body">
                    <input id="input-files" type="file" multiple accept=".shp, .dbf, .shx, .prj, .tif, .zip">
                    <br>
                    <div id="empty-bar" class="hidden"></div>
                    <div id="progress-bar" class="hidden"></div>
                    <div id="progress-text" class="hidden">0%</div>
                    <p>You have 3 upload options:</p>
                    <ul>
                        <li>A shapefile requiring a .shp, .dbf, .shx, and .prj file (select all 4 together).</li>
                        <li>A raster requiring a .tif file</li>
                        <li>A zipfile containing either of the above</li>
                    </ul>
                    <input type="checkbox" id="chkbx-file-auto-close">
                    <label for="chkbx-file-auto-close">Automatically close dialog when file is done loading</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default btn-upload" id="btn-upload-file">Upload</button>
                </div>
            </div>
            <!--End modal content-->
        </div>
    </div>
    <!--End modal-->

    <!-- Load HS Resource Modal -->
    <div id="modalLoadRes" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Load HydroShare Resource</h4>
                </div>
                <div class="modal-body">
                    <img src="/static/hydroshare_gis/images/loading-animation.gif">
                    <br>
                    <p><b>Loading resource list...</b></p>
                    <p>Note: Loading will continue if dialog is closed.</p>
                </div>
                <div id="div-chkbx-res-auto-close" class="hidden">
                    <input type="checkbox" id="chkbx-res-auto-close">
                    <label for="chkbx-res-auto-close">Automatically close dialog when file is done loading</label>
                </div>
                <div class="modal-footer">
                    <span class="modal-info hidden">Loading...
                        <img src="/static/hydroshare_gis/images/loading-animation.gif" />
                    </span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default btn-upload hidden" id="btn-upload-res">Upload</button>
                </div>
            </div>
            <!--End modal content-->
        </div>
    </div>
    <!--End modal-->

    <!-- Welcome Modal -->
    <div id="modalWelcome" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">HydroShare GIS</h4>
                </div>
                <div class="modal-body">
                    <p><b>If you opened this app from a HydroShare Resource page "Open with..." link, your resource is loading in the background.
                        Once loaded, the same steps below apply.</b></p>
                    <h6>You can do the following:</h6>
                    <ol>
                        <li class="welcome-step">Add a base map to the view
                            <p><b>Click the "Base Map..." dropdown and select an option</b></p>
                        </li>
                        <li class="welcome-step">Add a layer to the view
                            <p><b>You have two buttons to choose from:</b></p>
                            <ul>
                                <li class="welcome-substep1">Load HydroShare Resource
                                    <p>A list of all public resources will show up. Select the one you want to load and then click 'Upload'</p></li>
                                <li class="welcome-substep1">Load File
                                    <p>A browse button will show up. Select a valid file from your computer and then click 'Upload'</p></li>
                            </ul>
                            <p><b>Once layers load, they will show up in the 'Current Layers' list and their extents will be zoomed to</b></p>
                        </li>
                        <li class="welcome-step">Manipulate layers in the view
                            <p><b>In the 'Current Layers' list you can do the following:</b></p>
                            <ul>
                                <li class="welcome-substep1">Show/Hide a layer
                                    <p>Check/Uncheck the box next to the layer name</p>
                                </li>
                                <li class="welcome-substep1">Change a layer's display order.
                                    <p>Click and drag the layer names to a new position in the list.
                                        The layers are rendered in the reverse-order they appear in the list, with the top-most layers in the list rendering last (on-top)
                                    </p>
                                </li>
                                <li class="welcome-substep1">Rename a layer
                                <p>Right click the layer and select "Rename" or double click the layer name. Press 'Enter' when done.</p>
                                </li>
                                <li class="welcome-substep1">Zoom to a layer
                                    <p>Right click the layer and select "Zoom to"</p>
                                </li>
                                <li class="welcome-substep1">Delete a layer
                                    <p>Right click the layer and select "Delete"</p>
                                </li>
                                <li class="welcome-substep1">View a layer's attribute table
                                    <p>Right click the layer and select "View attribute table"</p>
                                    <p>Note: This option is only available for shapefiles.</p>
                                </li>
                            </ul>
                        </li>
                        <li class="welcome-step">Click 'Exit' in the top-right of the app to return to the HydroShare Apps Library</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <div id="byu-logo-container">
                        <span><i>Developed at the BYU Hydroinformatics Lab</i></span>
                        <img src="{% static 'hydroshare_gis/images/byu-medallion.png' %}"/>
                    </div>
                    <a href="https://github.com/shawncrawley/tethysapp-hydroshare_gis" target="_blank" class="btn btn-default">View Code</a>
                    <a href="../" class="btn btn-default">Back to Apps Library</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--End modal content-->
        </div>
    </div>
    <!--End modal-->

    <!-- Attribute Table Modal -->
    <div id="modalAttrTbl" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--End modal content-->
        </div>
    </div>
    <!--End modal-->

    <div id="div-loading" class="hidden">
        <img src="/static/hydroshare_gis/images/main-loading-anim.gif" />
    </div>

{% endblock %}